body {
	margin: 10px;
	background-color: #471BF5;
	font-family: arial medium;
	}

.section-1 {
	flex-direction: row;
	display: flex;
	color: white;
	align-items: center;
	margin-bottom: 200px;	
}

input[type='button'] {
	padding: 12px 32px;
	border-radius: 35px;
	border: 0px;
	font-weight: bold;
	background-color: #FAAF00;
	color: #FFFFFF;
}

a:visited {
	color: white;
}

hover {
	color: #999999;
}

.section-2 {
	color: white;
	flex-direction: row;
	display: flex;
	align-items: center;
	margin: 50px;
}

.section-3 {	
	padding: 85px;
	color: white;
	font-size: 22;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-4 {
	color: white;
	flex-direction: row;
	display: flex;
	align-items: center;
	margin: 50px;
}